// http://mcg.mbitson.com/#!?mcgpalette0=%23cc6300&themename=mcgtheme


@use '@angular/material' as mat;
@include mat.core();


$super-violet: (
    50 : #edeaf4,
    100 : #d1cae5,
    200 : #b3a7d3,
    300 : #9583c1,
    400 : #7e69b4,
    500 : #674ea7,
    600 : #5f479f,
    700 : #543d96,
    800 : #4a358c,
    900 : #39257c,
    A100 : #cbbdff,
    A200 : #a28aff,
    A400 : #7a57ff,
    A700 : #663dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$super-yellow: (
    50 : #f9fee7,
    100 : #f0fdc3,
    200 : #e6fc9c,
    300 : #dbfb74,
    400 : #d4fa56,
    500 : #ccf938,
    600 : #c7f832,
    700 : #c0f72b,
    800 : #b9f624,
    900 : #adf517,
    A100 : #ffffff,
    A200 : #fbfff2,
    A400 : #e9ffbf,
    A700 : #e0ffa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$super-red: (
    50 : #f9ece0,
    100 : #f0d0b3,
    200 : #e6b180,
    300 : #db924d,
    400 : #d47a26,
    500 : #cc6300,
    600 : #c75b00,
    700 : #c05100,
    800 : #b94700,
    900 : #ad3500,
    A100 : #ffe0d7,
    A200 : #ffb9a4,
    A400 : #ff9271,
    A700 : #ff7f58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-primary: mat.define-palette($super-yellow, 500);
$my-accent: mat.define-palette($super-violet, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($super-red);

$super-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($super-theme);


